<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoScrollSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAF1339C1C74C30C001D16A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF133B01C74C30D001D16A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF133BB1C74C30D001D16A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
